<html lang="en">
<body>
    <div>
        <form id="messagesForm"> 
            <li>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Ingrese su correo electrónico" required>
            </li>
            <li>
                <label for="message">Mensaje:</label>
                <input type="text" name="message" id="message" placeholder="Ingrese su mensaje" autocomplete="off" required>
            </li>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <%- include ('./partials/mensaje.ejs') %>
</body>
</html>